[submodule "Penumbra.String"]
	path = Penumbra.String
	url = https://github.com/Ottermandias/Penumbra.String.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/Ottermandias/OtterGui
